@{
    ViewData["Title"] = "Contact";
}

<br />
<h2>Kontaktinformationen</h2>

<address>
    JgData - Jörg Gullus<br />
    Rathausplatz 2<br />
    02763 Zittau<br />

    <abbr title="Phone">Telefon: </abbr>(0 35 83) 51 13 28 
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@jgdata.de">Support@jgdata.de</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@jgdata.de">Marketing@jgdata.de</a>
</address>
