<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
        <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JgDienstScannerMaschine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JgDienstScannerMaschine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
        <listeners>
            <add name="Log Message Queuing" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" queuePath=".\private$\jgmaschinelog" formatter="Text Formatter"/>
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{message}{newline}" name="Text Formatter"/>
        </formatters>
        <categorySources>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="Log Message Queuing"/>
                </listeners>
            </add>
            <add switchValue="All" name="Fehler">
                <listeners>
                    <add name="Log Message Queuing"/>
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events">
                <listeners>
                    <add name="Log Message Queuing"/>
                </listeners>
            </allEvents>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Log Message Queuing"/>
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <exceptionHandling>
        <exceptionPolicies>
            <add name="Policy">
                <exceptionTypes>
                    <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
                        <exceptionHandlers>
                            <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Fehler" eventId="100" severity="Error" title="Exeption Dienst ScannerMaschine" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
                        </exceptionHandlers>
                    </add>
                </exceptionTypes>
            </add>
        </exceptionPolicies>
    </exceptionHandling>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <applicationSettings>
        <JgDienstScannerMaschine.Properties.Settings>
            <setting name="Craddel_0" serializeAs="String">
                <value>CraddleIpAdresse=192.168.1.59;CraddlePort=51000;TextVerbinungOk=Welcome to Socket Channel</value>
            </setting>
            <setting name="Craddel_1" serializeAs="String">
                <value>CraddleIpAdresse=;CraddlePort=;TextVerbinungOk=</value>
            </setting>
            <setting name="Craddel_2" serializeAs="String">
                <value>CraddleIpAdresse=;CraddlePort=;TextVerbinungOk=</value>
            </setting>
            <setting name="Craddel_3" serializeAs="String">
                <value>CraddleIpAdresse=;CraddlePort=;TextVerbinungOk=</value>
            </setting>
            <setting name="Craddel_4" serializeAs="String">
                <value>CraddleIpAdresse=;CraddlePort=;TextVerbinungOk=</value>
            </setting>
            <setting name="EvgPfadProduktionsListe" serializeAs="String">
                <value>C:\EVG\EINGABE\PROD\</value>
            </setting>
            <setting name="EvgDateiProduktionsAuftrag" serializeAs="String">
                <value>C:\EVG\EINGABE\HOST\PB.H_M</value>
            </setting>
            <setting name="ProgressPfadProduktionsListe" serializeAs="String">
                <value>c\Progress\Pro2\impdata</value>
            </setting>
        </JgDienstScannerMaschine.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <JgDienstScannerMaschine.Properties.Settings>
            <setting name="IdStandort" serializeAs="String">
                <value>69eb2a93-8bbf-4870-af12-40c65cd8032e</value>
            </setting>
        </JgDienstScannerMaschine.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWcfService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9500/WcfService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfService" contract="ServiceRef.IWcfService" name="WSHttpBinding_IWcfService">
                <identity>
                    <userPrincipalName value="GULLUS-LAPTOP\joerg"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
