@{
    ViewData["Title"] = "Zugriff verweigert";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <br />
    <p class="text-danger">Sie haben keine Berechtigung für dieses Formular.</p>
</header>
