@model SelectList

@{
    ViewBag.Title = "Maschinendaten Bearbeiten";
}

<br />
<h2>Maschinenstatus</h2>
<br />

<div class="row">
    <div class="col-md-3">
        <div class="card border-primary">
            <div class="card-header alert-primary">
                Auswahl Maschine
            </div>
            <select id="LbMaschinen" size="10" asp-items="@Model" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-9">
        <div id="IdStatusPartiel">
            <h6><strong>Lade Status .....</strong></h6>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

    function StatusLaden() {

        var url = '@Url.Action("AnzeigeMaschineStatusPartial")/' + $("#LbMaschinen").val();

        var zeit = $("#IdZeitAenderung").val();
        if (zeit != undefined)
            url += '?DatumAenderung=' + zeit;

        $.post(url, function (data) {
            $('#IdStatusPartiel').html(data);
        });
    }

    StatusLaden();

    setInterval(function () {
        StatusLaden();
    }, 5000);

    jQuery(function () {
        $('#LbMaschinen').on('change', function () {
            StatusLaden();
        });
    });

</script>
