@model IEnumerable<JgLibDataModel.TabBauteil>

@{
    ViewBag.Title = "Index Bauteile";
}

<br />
<h2>Übersicht Bauteile</h2>

@using (Ajax.BeginForm("IndexBauteileProMaschinePartial", new AjaxOptions { UpdateTargetId = "result" }))
{
    <div class="card">
        <div class="card-body">
            <div class=" form-inline">
                <div class="form-group">
                    <label class="col-form-label">Maschine</label>
                    @Html.DropDownList("IdMaschine", (SelectList)ViewBag.ListeMaschinen, new { @class = "form-control mx-sm-3" })
                </div>
                <div class="form-group">
                    <label class="col-form-label">Datum von</label>
                    <input type="date" class="form-control mx-sm-3" name="TxtDatumVon" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Datum von</label>
                    <input type="date" class="form-control mx-sm-3" name="TxtDatumBis" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Anzeigen </button>
                </div>
            </div>
        </div>
    </div>
}

<br />

<div id="result">
    @{ Html.RenderPartial("IndexBauteileProMaschinePartial", Model); }
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
