@model SelectList

@{
    ViewBag.Title = "Index Bauteile";
}

<br />
<h2>Übersicht Bauteile</h2>

<form id="FormBauteil">
    <div class="card">
        <div class="card-body">
            <div class=" form-inline">
                <div class="form-group">
                    <label class="col-form-label">Maschine</label>
                    <select name="IdMaschine" class="form-control mx-sm-3" style="width:200px" asp-items="@Model"></select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Datum von</label>
                    <input type="date" class="form-control mx-sm-3" name="TxtDatumVon" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">bis</label>
                    <input type="date" class="form-control mx-sm-3" name="TxtDatumBis" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button" id="BtnAnzeige" onclick="BtAktualisieren()"> Anzeigen </button>
                </div>
            </div>
        </div>
    </div>

</form>

<br />

<div id="anzeigeBauteile" />

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">

     function BtAktualisieren() {

        var url = '@Url.Action("IndexBauteileProMaschinePartial")';

        $.post(url, $('#FormBauteil').serialize(), function (data) {
            $('#anzeigeBauteile').html(data);
        });
     };

     BtAktualisieren();

</script>
