
@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Account Manager</h2>

<div>
    <p>Bearbeiten der Nutzerdaten</p>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
